// Add all color attributes in here

$color_nav_element: #D1C192;
$standard_color: #D1C192;
$search_bar_color: #190a05;
$selection_color: #b3d4fc;
$gray: #808080;
$dark_gray_trans:rgba(0, 0, 0, 0.6);
$scrollbar_color: rgba(128,128,128, 0.6);