<div class="wrapper" id="header">
  <img src="<%= asset_path 'logos/logo_hoerburger.png' %>" id="logo_hoerburger">

  <!-- TODO: replace with search widget -->
  <form id="search-bar">
    <input type="text" name="dummy" size="50"><br>
    <input type="submit" value="Suchen">
  </form>
</div>