/* Content */
@import url(https://fonts.googleapis.com/css?family=Nunito|Signika|Pacifico|Quicksand|Patua+One|Chewy|Fredoka+One|Cabin+Condensed|Courgette|Audiowide|Days+One);
#main_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

#link_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

/*#text_content {
    padding-left: 250px;
    padding-right: 250px;
    font-family: Segoe UI;
    bottom: 60px;
}

h2 {
    color: black;
    padding-left: 250px;
    font-family: papyrus;
}*/
.trans_background {
  background-image: url(../img/transparentBackground.png);
  border-bottom: white 1px solid;
  border-top: white 1px solid; }

/* Content */
#main_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

#link_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

#text_content {
  color: black;
  padding-left: 250px;
  padding-right: 250px;
  font-family: Segoe UI;
  bottom: 60px; }

h2 {
  color: black;
  padding-left: 250px;
  font-family: papyrus; }

/* Content */
#main_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

#link_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px; }

#text_content {
  padding-left: 250px;
  padding-right: 250px;
  font-family: Segoe UI;
  bottom: 60px; }

h2 {
  padding-left: 250px;
  font-family: papyrus; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-color: #D1C192;
  background-image: url(../img/wood2.jpg); }

#wrapper {
  min-height: 100%;
  position: relative; }

#map_overlay {
  color: #ffffff;
  display: none;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.95); }

#stations {
  list-style: none;
  padding-left: 0; }

.overlay_centered {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%); }

/* Styles erweiterte Suche neu */
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px; }

.input-group-btn .btn-group {
  display: flex !important; }

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px; }

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

#advancedSearchDropdownMenu {
  background-image: url(../img/transBackgroundSearchBar.png);
  background-color: transparent;
  font-family: Segoe UI;
  width: 256px;
  padding-left: 18px;
  padding-right: 18px; }

#advancedSearchButton {
  background-color: #190a05;
  color: #D1C192; }

#location_input,
#interpret_input,
#instrument_input {
  width: 200px; }

/* Header */
header {
  position: relative;
  padding: 0px;
  height: 100px;
  z-index: 9; }

#logo {
  float: left; }

#header_icon {
  float: left;
  height: 94px;
  width: auto;
  padding-left: 20px;
  padding-top: 3px; }

#name-logo {
  /*position: absolute;
  left: 8%;*/
  float: right;
  font-size: 230%;
  font-weight: bold;
  margin: 25px;
  color: #D1C192;
  font-family: papyrus; }

#search_bar {
  position: absolute;
  top: 40px;
  width: 250px;
  right: 4%;
  transform: translateY(-50%); }

#search-input {
  background-color: #190a05;
  height: 20px;
  font-family: Segoe UI;
  color: #D1C192;
  width: 200px; }

#search-button {
  background-color: #190a05;
  color: #D1C192; }

/* Pop-Over */
#pop_over {
  position: absolute;
  width: 150px;
  height: 25px;
  top: 57%;
  right: 3%;
  font-family: Segoe UI;
  font-size: 12px;
  background-color: #D1C192; }

#pop_over_content {
  width: 220px;
  height: 300px;
  font-size: 12px;
  font-family: Segoe UI; }

#enter_search {
  float: right;
  margin-top: 5px;
  border-radius: 10px;
  background-color: green;
  color: white; }

/* Hide popover contents */
#pop_over_content {
  display: none; }

p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: bold; }

#min_date_input,
#max_date_input {
  margin-bottom: 5px; }

.form-group {
  margin: 0px;
  float: left; }

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }

a {
  text-decoration: none;
  color: black; }

a:focus,
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #D1C192; }

#link_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.footer_link {
  margin-left: 20px;
  margin-right: 20px;
  font-family: papyrus;
  color: #D1C192;
  text-decoration: none; }

/* Content */
#main_content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px;
  background: rgba(255, 255, 255, 0.3); }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
#main_content_station {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 60px;
  background-image: url(../img/pergament-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 95% 100%, auto auto;
  padding-left: 111px;
  -webkit-filter: drop-shadow(10px 10px 20px black); }

#detail_content {
  display: none;
  position: absolute;
  width: 70%;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

#loader_container {
  background-image: url(../img/loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 70%;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }

/*scrollbar properties*/
.centered {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: 'Nunito'; }

#time {
  font-style: italic;
  font-size: 16px; }

::-webkit-scrollbar {
  width: 1em; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey; }

h1 {
  text-align: center;
  font-family: 'Nunito'; }

#text_info {
  float: left;
  width: 58%;
  height: 45%;
  margin: 0.5% 0 0.5% 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.attribute {
  text-align: left;
  margin-left: 5%;
  margin-right: 2%; }

#mini_map {
  margin-top: 0.5%;
  width: 40%;
  height: 45%;
  float: right; }

.frame {
  width: 100%;
  height: 15%;
  padding: 0;
  margin-top: 10px; }

.slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none; }

.slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 130px;
  height: 100%; }

.not_available_label {
  position: relative;
  top: 30%;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%); }

.slidee li.active {
  box-shadow: 0px 0px 0px 2px orange inset; }

.slidee li:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: opacity .2s; }

ul li.picture {
  background: rgba(0, 0, 0, 0.6); }

ul li.audio {
  background-image: url(../img/audio-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 90px; }

ul li.video {
  background-image: url(../img/video-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 90px; }

.gallery-picture {
  width: auto;
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px; }

label {
  opacity: 0.3;
  cursor: pointer;
  color: #FFF;
  font-size: 120pt;
  text-align: center;
  line-height: 380px;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0px 0px 15px #777777;
  transition: opacity .2s; }

label:hover {
  opacity: 1; }

.trans {
  background-image: url(../img/transparentBackground.png);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  text-align: center; }

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.navigation_element {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 20%; }

.nav_left {
  left: 10px; }

.nav_right {
  right: 10px; }

video {
  width: 320px;
  height: 240px; }

.custom-popup .leaflet-popup-tip,
.custom-popup .leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff; }

.image_anchor {
  margin-bottom: 10px;
  margin-right: 5px;
  width: 25px;
  height: 25px; }

.audio_anchor {
  margin-bottom: 10px;
  margin-right: 5px;
  width: 25px;
  height: 25px; }

.video_anchor {
  margin-bottom: 10px;
  width: 25px;
  height: 25px; }

.centered_anchor {
  text-align: center;
  width: 100%;
  display: block;
  margin: auto 0;
  font-size: 14px; }

.travel_name {
  color: #D1C192; }

.travel_name:hover {
  text-decoration: none;
  font-weight: bold;
  color: #D1C192; }

#list_hover {
  right: 20px;
  top: 20px;
  padding: 10px;
  width: 200px;
  position: absolute;
  z-index: 5;
  color: #D1C192;
  background: rgba(0, 0, 0, 0.8); }

#layer_list {
  display: none;
  list-style-type: none;
  padding-left: 0px;
  overflow: auto;
  box-sizing: content-box;
  -moz-box-sizing: content-box; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url(/Praxisseminar/WebProject/img/colorbox/overlay.png) repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity=90); }

#colorbox {
  outline: 0; }

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -101px 0; }

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -130px 0; }

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -101px -29px; }

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -130px -29px; }

#cboxMiddleLeft {
  width: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) left top repeat-y; }

#cboxMiddleRight {
  width: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) right top repeat-y; }

#cboxTopCenter {
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/border.png) 0 0 repeat-x; }

#cboxBottomCenter {
  height: 21px;
  background: url(/Praxisseminar/WebProject/img/colorbox/border.png) 0 -29px repeat-x; }

#cboxContent {
  background: #fff;
  overflow: hidden; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 28px; }

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

#cboxLoadingOverlay {
  background: url(/Praxisseminar/WebProject/img/colorbox/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic {
  background: url(/Praxisseminar/WebProject/img/colorbox/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxPrevious:hover {
  background-position: -75px -25px; }

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxNext:hover {
  background-position: -50px -25px; }

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/Praxisseminar/WebProject/img/colorbox/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxClose:hover {
  background-position: -25px -25px; }

.webui-popover-content {
  display: none; }

/*  webui popover  */
.webui-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  min-width: 50px;
  min-height: 32px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.webui-popover.top,
.webui-popover.top-left,
.webui-popover.top-right {
  margin-top: -10px; }

.webui-popover.right,
.webui-popover.right-top,
.webui-popover.right-bottom {
  margin-left: 10px; }

.webui-popover.bottom,
.webui-popover.bottom-left,
.webui-popover.bottom-right {
  margin-top: 10px; }

.webui-popover.left,
.webui-popover.left-top,
.webui-popover.left-bottom {
  margin-left: -10px; }

.webui-popover.pop {
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -o-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  opacity: 0;
  filter: alpha(opacity=0); }

.webui-popover.pop-out {
  -webkit-transition-property: "opacity,transform";
  -o-transition-property: "opacity,transform";
  transition-property: "opacity,transform";
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
  opacity: 0;
  filter: alpha(opacity=0); }

.webui-popover.fade,
.webui-popover.fade-out {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
  filter: alpha(opacity=0); }

.webui-popover.out {
  opacity: 0;
  filter: alpha(opacity=0); }

.webui-popover.in {
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
  filter: alpha(opacity=100); }

.webui-popover .webui-popover-content {
  padding: 9px 14px;
  overflow: auto;
  display: block; }

.webui-popover-inner .close {
  font-family: arial;
  margin: 8px 10px 0 0;
  float: right;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none; }

.webui-popover-inner .close:hover,
.webui-popover-inner .close:focus {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.webui-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 5px 5px 0 0; }

.webui-popover-content {
  padding: 9px 14px;
  overflow: auto;
  display: none; }

.webui-popover-inverse {
  background-color: #333333;
  color: #eeeeee; }

.webui-popover-inverse .webui-popover-title {
  background: #333333;
  border-bottom: 1px solid #3b3b3b;
  color: #eeeeee; }

.webui-no-padding .webui-popover-content {
  padding: 0; }

.webui-no-padding .list-group-item {
  border-right: none;
  border-left: none; }

.webui-no-padding .list-group-item:first-child {
  border-top: 0; }

.webui-no-padding .list-group-item:last-child {
  border-bottom: 0; }

.webui-popover > .arrow,
.webui-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.webui-popover > .arrow {
  border-width: 11px; }

.webui-popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.webui-popover.top > .arrow,
.webui-popover.top-right > .arrow,
.webui-popover.top-left > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0; }

.webui-popover.top > .arrow:after,
.webui-popover.top-right > .arrow:after,
.webui-popover.top-left > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0; }

.webui-popover.right > .arrow,
.webui-popover.right-top > .arrow,
.webui-popover.right-bottom > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25); }

.webui-popover.right > .arrow:after,
.webui-popover.right-top > .arrow:after,
.webui-popover.right-bottom > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff; }

.webui-popover.bottom > .arrow,
.webui-popover.bottom-right > .arrow,
.webui-popover.bottom-left > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0; }

.webui-popover.bottom > .arrow:after,
.webui-popover.bottom-right > .arrow:after,
.webui-popover.bottom-left > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0; }

.webui-popover.left > .arrow,
.webui-popover.left-top > .arrow,
.webui-popover.left-bottom > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25); }

.webui-popover.left > .arrow:after,
.webui-popover.left-top > .arrow:after,
.webui-popover.left-bottom > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px; }

.webui-popover-inverse.top > .arrow,
.webui-popover-inverse.top-left > .arrow,
.webui-popover-inverse.top-right > .arrow,
.webui-popover-inverse.top > .arrow:after,
.webui-popover-inverse.top-left > .arrow:after,
.webui-popover-inverse.top-right > .arrow:after {
  border-top-color: #333333; }

.webui-popover-inverse.right > .arrow,
.webui-popover-inverse.right-top > .arrow,
.webui-popover-inverse.right-bottom > .arrow,
.webui-popover-inverse.right > .arrow:after,
.webui-popover-inverse.right-top > .arrow:after,
.webui-popover-inverse.right-bottom > .arrow:after {
  border-right-color: #333333; }

.webui-popover-inverse.bottom > .arrow,
.webui-popover-inverse.bottom-left > .arrow,
.webui-popover-inverse.bottom-right > .arrow,
.webui-popover-inverse.bottom > .arrow:after,
.webui-popover-inverse.bottom-left > .arrow:after,
.webui-popover-inverse.bottom-right > .arrow:after {
  border-bottom-color: #333333; }

.webui-popover-inverse.left > .arrow,
.webui-popover-inverse.left-top > .arrow,
.webui-popover-inverse.left-bottom > .arrow,
.webui-popover-inverse.left > .arrow:after,
.webui-popover-inverse.left-top > .arrow:after,
.webui-popover-inverse.left-bottom > .arrow:after {
  border-left-color: #333333; }

.webui-popover i.icon-refresh:before {
  content: ""; }

.webui-popover i.icon-refresh {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -15px;
  margin-right: -15px;
  background: url(../img/loading.gif) no-repeat; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
.webui-popover-backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998; }

.webui-popover .dropdown-menu {
  display: block;
  position: relative;
  top: 0;
  border: none;
  box-shadow: none;
  float: none; }

/* required styles */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=main.css.map */
