.custom-popup .leaflet-popup-tip,
.custom-popup .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

.image_anchor {
    margin-bottom: 10px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

#stations {
    font-size: 14px;
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
}

#stations li {
    display: inline-block;
    margin-right: 10px;
}

#stations a {
    color: white;
}

.audio_anchor {
    margin-bottom: 10px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.video_anchor {
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}

#select_station {
    font-size: 20px;
    color: $standard_color;
    font-family: papyrus;
}

#stations .image_anchor {
    margin-right: 0px;
}

#stations .audio_anchor {
    margin-right: 0px;
}

.centered_anchor {
    text-align: center;
    width: 100%;
    display: block;
    margin: auto 0;
    font-size: 14px;
}

.travel_name {
    color: $standard_color;
    font-weight: none;
}

.travel_name:hover {
    text-decoration: none;
    font-weight: bold;
    color: $standard_color;
}

#list_hover {
    right: 20px;
    top: 20px;
    padding: 10px;
    width: 200px;
    position: absolute;
    z-index: 5;
    color: $standard_color;
    background: rgba(0, 0, 0, 0.8);
}

#layer_list {
    display: none;
    list-style-type: none;
    padding-left: 0px;
    overflow: auto;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}