html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-color: $standard_color;
    background-image: url("../img/wood2.jpg");
}

#wrapper {
    min-height: 100%;
    position: relative;
}


/* Header */

header {
    position: relative;
    padding: 0px;
    height: $header_height;
}

#logo {
    float: left;
}

#header_icon {
    float: left;
    height: 94px;
    width: auto;
    padding-left: 20px;
    padding-top: 3px;
}

#name-logo {
    /*position: absolute;
    left: 8%;*/
    float: right;
    font-size: 230%;
    font-weight: bold;
    margin: 25px;
    color: $standard_color;
    font-family: papyrus;
}

#search_bar {
    position: absolute;
    top: 40px;
    width: 250px;
    right: 4%;
    transform: translateY(-50%);
}

#search-input {
    background-color: transparent;
    height: 20px;
    font-family: Segoe UI;
    color: $standard_color;
    width: 200px;
}

#search-button {
    background-color: transparent;
    color: $standard_color;
}

/* Pop-Over */

#pop_over {
    position: absolute;
    width: 150px;
    height: 25px;
    top: 57%;
    right: 3%;
    font-family: Segoe UI;
    font-size: 12px;
    background-color: $standard_color;
    border-color: #fef7ef;
}

#pop_over_content {
    width: 220px;
    height: 300px;
    font-size: 12px;
    font-family: Segoe UI;
}

#enter_search {
    float: right;
    margin-top: 5px;
    border-radius: 10px;
    background-color: green;
    color: white;
}

/* Hide popover contents */

#pop_over_content {
    display: none;
}

p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: bold;
}

#min_date_input, #max_date_input{
    margin-bottom: 5px;
}

.form-group{
    margin: 0px;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer_height;
}

a {
    text-decoration: none;
    color: black;
}

a:focus,
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: $standard_color;
}

#link_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer_link {
    margin-left: 20px;
    margin-right: 20px;
    font-family: papyrus;
    color: $standard_color;
    text-decoration: none;
}


/* Content */

#main_content {
    position: absolute;
    width: 100%;
    top: $header_height;
    bottom: $footer_height;
}


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
