body {}


/* Content */

.result_element {
    text-align: left;
    display: inline-block;
    width: 80%;
    padding: 1%;
    margin: 20px 10px auto;
    margin-top: 10px;
    background-image: url(../img/transparentBackground.png);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
}

.result_icon {
    height: 40px;
    width: 40px;
    background-size: 100%;

    float: left;
}

.result_type_audio {
    background-image: url(../img/audio-icon2.png);
}

.result_type_video {
    background-image: url(../img/video-icon2.png);
}

.result_type_image {
    background-image: url(../img/image-icon2.png);
}

.result_type_station {
    background-image: url(../img/mapmarker2.png);
}

.result_name {
    line-height: 40px;
    padding-left: 50px;
}

.search_results li:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color .3s;
}

#result_list_content {
    padding: 10px;
    padding-right: 0;
    width: 92%;
    font-family: Segoe UI;
    bottom: 60px;
    overflow: hidden;
    height: 100%;
}

#resut_list {
    padding-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 80%;
    bottom: 60px;
}

h3 {
    position: static;
    font-family: Papyrus, Segoe UI;
    padding-left: 75px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
