@import url(https://fonts.googleapis.com/css?family=Nunito|Signika|Pacifico|Quicksand|Patua+One|Chewy|Fredoka+One|Cabin+Condensed|Courgette|Audiowide|Days+One);
#main_content_station {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 60px;
    background-image: url(../img/pergament-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95% 100%, auto auto;
    padding-left: 111px;
    -webkit-filter: drop-shadow(10px 10px 20px black);
    font-family: Segoe UI;
}

#detail_content {
    display: none;
    position: absolute;
    width: 70%;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#loader_container {
    background-image: url(../img/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}


/*scrollbar properties*/

.centered {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Nunito';
}

#time {
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar_color;
    outline: 1px solid slategrey;
}

h1 {
    text-align: center;
    font-family: 'Nunito';
}

#text_info {
    float: left;
    width: 50%;
    height: 45%;
    margin: 0.5% 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.attribute_table {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}

.first_column {
    width: 33%;
    font-weight: 700;
}

.second_column {
    width: 67%;
    text-align: left;
}

.attribute_table td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

#galleries {
    float: left;
    width: 100%;
    height: 50%;
}

//Sly Gallery for Multimedia
button,
button {
    background: transparent;
    border: 0;
    color: #fff;
    opacity: .5;
}

button:hover {
    opacity: 1;
    transition: opacity .2s;
}

button:disabled,
button:disabled {
    opacity: .2;
}

.forward,
.backward {
    float: left;
    width: 4%;
    height: 30%;
    margin-top: 10px;
    background-color: $dark_gray_trans;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
}

.forward {
    float: right;
}

.frame {
    width: 90%;
    height: 30%;
    padding: 0;
    margin-top: 10px;
    text-shadow: none;
    margin-left: auto;
    margin-right: auto
}

.slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    width: 130px;
    height: 100%;
}

.not_available_label {
    position: relative;
    top: 30%;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.active_element {
    box-shadow: 0px 0px 0px 4px #2ce1ff inset;
}

.sub_active_element {
    box-shadow: 0px 0px 0px 4px orange inset;
}

.slidee li:hover {
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .2s;
}

ul li.picture {
    background: $dark_gray_trans;
}

ul li img {
    height: 100%;
    width: auto;
}

ul li.audio {
    background: $dark_gray_trans;
    background-image: url(../img/audio-icon2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 130px;
}

ul li.video {
    background: $dark_gray_trans;
    background-image: url(../img/video-icon2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 130px;
}

.gallery-picture {
    width: auto;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    pointer-events: none;
}

.trans {
    background-image: url(../img/transparentBackground.png);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    text-align: center;
}

//Navigation Arrows Station
label.nav {
    opacity: 0.3;
    cursor: pointer;
    color: #FFF;
    font-size: 120pt;
    text-align: center;
    line-height: 380px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    transition: opacity .2s;
}

label:hover {
    opacity: 1;
}

.nav {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
}

.nav_left {
    left: 10px;
}

.nav_right {
    right: 10px;
}

//Navigation Arrows Gallery
label.nav_gallery {
    font-size: 30pt;
    color: white;
    font-family: 'Nunito', sans-serif;
    vertical-align: middle;
}

//Colorbox / Multimediapopup
video {
    width: 320px;
    height: 240px;
}

#lightbox_content > img {
    width: 1024px;
    height: auto;
}

//Tabs
#tabs_container {
    margin-top: 0.5%;
    width: 49%;
    height: 45%;
    float: right;
    position: relative;
    cursor: pointer;
}

#tabs_container > ul > li {
    width: 100%;
    height: 33%;
    background-color: #fff !important;
    list-style-type: none;
    display: block;
    text-align: center;
    margin: auto;
    border: 1px solid #fff;
    position: relative;
    border-left: none;
    opacity: .3;
}

#tabs_container > ul > li.selected {
    opacity: 1;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #fafafa !important;
    position: relative;
}

#tabs_container > ul {
    float: right;
    width: 10%;
    height: 100%;
    text-align: right;
    display: block;
    padding: 0;
    position: relative;
}

#tabs_container > div {
    border: 1px solid #ddd;
    height: 100%;
    width: 90%;
    float: right;
    position: relative;
    -moz-border-radius: 20px;
}

#pic_content img {
    height: 100%;
    width: auto;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#player_content {
    position: relative;
    background-image: url(../img/video-icon2.png);
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#player_content video,
#player_content audio {
    width: 95%;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

#player_content video {
    height: 95%;
}

#tabs_container > ul > li > img {
    height: auto;
    width: 80%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not_available_tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
}
