@import url(https://fonts.googleapis.com/css?family=Nunito|Signika|Pacifico|Quicksand|Patua+One|Chewy|Fredoka+One|Cabin+Condensed|Courgette|Audiowide|Days+One);
#main_content_station {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 60px;
    background-image: url(../img/pergament-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95% 100%, auto auto;
    padding-left: 111px;
    -webkit-filter: drop-shadow(10px 10px 20px black);
    font-family: Segoe UI;
}

#detail_content {
    display: none;
    position: absolute;
    width: 70%;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#loader_container {
    background-image: url(../img/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}


/*scrollbar properties*/

.centered {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Nunito';
}

#time {
    font-style: italic;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

h1 {
    text-align: center;
    font-family: 'Nunito';
}

#text_info {
    float: left;
    width: 58%;
    height: 45%;
    margin: 0.5% 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.attribute {
    text-align: left;
    margin-left: 5%;
    margin-right: 2%;
}

#mini_map {
    margin-top: 0.5%;
    width: 40%;
    height: 45%;
    float: right;
    position: relative;
}

#galleries {
    float:left;
    width:100%;
    height:50%;
}

#mini_map img {
    height: 100%;
    width: auto;
}

#mini_map video,
audio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//Sly Gallery for Multimedia
button,
 button {
    background: transparent;
    border: 0;
    color: #fff;
    opacity: .5;
}

button:hover,
 button:hover {
    opacity: 1;
}

button:disabled,
 button:disabled {
    opacity: .2;
}

.forward,
 .backward {
    float: left;
    width: 5%;
    height: 30%;
    font-size: 60px;
    margin-top: 10px;
}

.forward {
    float: right;
}


.frame {
    width: 90%;
    height: 30%;
    padding: 0;
    margin-top: 10px;
    text-shadow: none;
    float: left;
}

.slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    width: 130px;
    height: 100%;
}

.not_available_label {
    position: relative;
    top: 30%;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.active_element {
    box-shadow: 0px 0px 0px 2px orange inset;
}

.slidee li:hover {
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .2s;
}

ul li.picture {
    background: rgba(0, 0, 0, 0.6);
}

ul li img {
    height: 100%;
    width: auto;
}

ul li.audio {
    background-image: url(../img/audio-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 130px;
}

ul li.video {
    background-image: url(../img/video-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 130px;
}

.gallery-picture {
    width: auto;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    pointer-events: none;
}

label {
    opacity: 0.3;
    cursor: pointer;
    color: #FFF;
    font-size: 120pt;
    text-align: center;
    line-height: 380px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    transition: opacity .2s;
}

label:hover {
    opacity: 1;
}

.trans {
    background-image: url(../img/transparentBackground.png);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    text-align: center;
}

//Navigation Arrows
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav_left {
    left: 10px;
}

.nav_right {
    right: 10px;
}



//Colorbox / Multimediapopup
video {
    width: 320px;
    height: 240px;
}

#image_container {
    width: 1024px;
    height: auto;
}
