#detail_content {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    background: red;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

h1 {
    text-align: center;
}

#text_info {
    float: left;
    width: 60%;
}

#mini_map {
    background: green;
    width: 40%;
    height: 200px;
    float: left;
}

#picture_galery {
    margin-top: 25px;
}

.gallery {
    background: blue;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
